* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    background: #333;
    overflow: hidden;
    height: 100vh;
}

#title {
    position: absolute;
    width: 100%;
    color: #FFF;
    font-size: 32px;
}
#title h1 {
    display: flex;
    justify-content: center;
}

.game-container {
    position: relative;
    width: 368px;
    height: 208px;
    margin: auto;
    top: 50%;
    outline: 1px solid #FFF;
    transform: translateY(-50%) scale(3);
}

.game-container canvas {
    image-rendering: pixelated;
}

#game-finish {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: #00000050;
    top: 0;
}

#howto {
    width: 300px;
    top: 50;
    left: 0;
    color: #FFF;
    font-size: 20px;
}

#howto p, h3 {
    white-space: pre;
}