* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    background: #333;
    overflow: hidden;
    height: 100vh;
}

.game-container {
    position: relative;
    width: 368px;
    height: 208px;
    margin: auto;
    top: 50%;
    outline: 1px solid #FFF;
    transform: translateY(-50%) scale(3);
}

.game-container canvas {
    image-rendering: pixelated;
}

#howto {
    position: absolute;
    top: 50;
    left: 0;
    color: #FFF;
    font-size: 20px;
}

#howto p, h3 {
    white-space: pre;
}